body {
	font-family: Roboto, sans-serif;
}

.container{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.image-holder {
	padding: 1em;
	text-align: center;
}
.container p {
	font-size: 1.25em;
}
